body {
    background-image: url('inage/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    transition: background-image 2s ease-in-out; /* 背景圖平滑過渡 */
}

body:hover {
    background-image: url('inage/1.png'); /* 當鼠標懸停時，背景圖轉換 */
}

.box{
    background-color: rgb(209, 223, 228,0.5);
    width: 980px;
    float: right;
    margin:15px auto;
    padding: 25px;
    border-radius: 20px;
}
.date{
    color: rgb(105, 117, 128);
}
.content{
    border: solid 1px rgb(106, 115, 121);
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    min-height: calc(100vh - 50px); 
    padding: 20px;
}

.pic{
    text-align: center;
}
.pic > img{
    width: 600px;
}
#main_meru{
    padding-left: 0px;
    list-style: none;
}
#main_meru li{
    display: inline-block;
}
#main_meru li a{
    text-decoration: none;
    font-size: large;
    color: rgb(46, 63, 78);
    padding: 5px 25px;
    display: block;
    justify-content: center; 
    align-items: center; 
    height: 200px;
}
#main_meru li a:hover{
    color: rgb(23, 107, 107);
}
.footer {
    background-color: #c28787; 
    color: #fff; 
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed; 
    bottom: 0; 
    left: 0; 
}